body {
    background-color: orange;
    color: white;
}

.title, .subtitle {
    text-align: center;
}

.hero {
    width: 750px;
}

.menu {
    text-align: center;
}

a {
    color: white;
}

.nav {
    text-align: center;
}